<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Submission Failure</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="response-container">
    <div class="message-box">
        <h1>Invalid input!</h1>
        <p>Data entered is invalid. Fields
            <% for (let i = 0; i < invalidFields.length; i++) { %>
                <span class="highlight"><%= invalidFields[i] %></span>
            <% } %>
            are invalid!</p>
    </div>
</div>
</body>
</html>
