<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Submission Success</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="response-container">
    <div class="message-box">
        <h1>Thank You!</h1>
        <p>Thank you,
            <span class="highlight"><%= name %></span>.
            Your email address
            <span class="highlight"><%= email %></span>
            has been successfully added to our mailing list! Your subscription will be running until
            <span class="highlight"><%= dateUntil %></span>
        </p>
    </div>
</div>
</body>
</html>
