body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.middle-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 33.33%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;

}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card-title {
    color: #4a90e2;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.card-text {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
}

.card-text-accent {
    margin: 10px 0;
    font-size: 16px;
    color: #4a90e2;
    font-weight: bold;
}

.form-label {
    display: block;
    margin: 10px 3px 5px;
    font-weight: bold;
    font-size: 14px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.invalid {
    width: 100%;
    padding: 8px;
    border: 2px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.validation-message {
    display: block;
    margin: 5px 5px 10px;
    font-size: 12px;
    color: red;
}

#submit {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #357abd;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    max-width: fit-content;
    right: 0;
    border-radius: 4px 0 0 0;
}

.no-display {
    display: none;
}

.no-visibility {
    visibility: hidden;
}

.response {
    margin-top: 15px;
    padding: 15px;
    background-color: #e6f7ff;
    color: #31708f;
    border-left: 5px solid #4a90e2;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

#snackbar {
    visibility: hidden;
    width: 400px;
    text-align: left;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    background-color: #ffe6e6;
    color: #8f3131;
    border-left: 5px solid #e24a4a;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-status {
    font-weight: bold;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
